.card-container {
    background-color: none;
    border-radius: 2%;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: left;

    align-items: left;
    margin: 2rem;
    margin: 3.5rem;
}
.form-label {
    color: whitesmoke;
    font-size: 1.3rem;
    width: 100%;
    font-weight: 350;
}
.form-heading {
    font-size: 3.5rem;
    color: #ededed;
    font-weight: 300;
}
.main {
    height: 100vh;
    width: 100%;
    background-image: url("../bgimage/colorful-abstract-nebula-space-background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    
}
.login {
    width: 50%;
    margin-top: 2rem;
}
.input {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid whitesmoke;
    width: 100%;
    color: whitesmoke;
    margin-bottom: 3.4rem;
}
.players {
    display: flex;
    height: 100%;
    width: 100%;

    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    overflow: scroll;
}
.players-admin {
    display: inline;
    width: 100%;
    overflow: scroll;
}

.check {
    font-size: 1.5rem;
    color: whitesmoke;
    font-weight: 15;
}
.checkbox {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 1rem;
    background: none;
    border: none;
    outline: none;
}
.bid {
    background-color: red;
}
.admin-main {
    display: flex;
    flex-direction: column;
}
.main-header {
    font-size: 3rem;
    color: #ededed;
}
.add-btn {
    padding: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    height: 4rem;
    width: 9rem;
}
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blur {
    background: transparent;
    justify-content: flex-start;
    /* backdrop-filter: blur(0px); */
}
.mp-heading {
    /* margin-left: 2rem; */
    width: 50%;
    font-weight: 300;
    text-align: center;
}
.mp-button {
    margin-right: 2rem;
    margin-left: 25%;
}
.currMoney {
    text-align: left;
    width:25%;
    font-size: 1.4rem;
    color: whitesmoke;
    margin-bottom: 0;
    padding-left:1rem;
}
.playersBought {
    text-align: left;
    margin-left: 2rem;
    font-size: 1.5rem;
    color: whitesmoke;
}
.error {
    color: red;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.bottom-gap {
    margin-bottom: 2rem;
}
.sm {
    font-size: 1.5rem;
    font-weight: 500;
}
.no-acc {
    margin-top: 1.5rem;
    color: rgb(210, 208, 208);
    font-size: 1.1rem;
}
.link {
    cursor: pointer;
}

.orange {
    color: #fd0015;
}
.blue {
    color: #00affd;
}
.run-name {
    border-bottom: 1rem;
}
.show-btn{
    background-color: #43001696;
    color:aliceblue;
    font-size:1.2rem;
    height: 3rem;
    width:25%;
    border:none;
    outline:none;
    transition: all .2s;

}
.show-btn:hover{
    background-color: #430016;
    color: #FD0015;
    font-size:1.2rem;
    height: 3rem;
    width:25%;
    border: none;
    
}
.show-btn-selected{
    
    background-color:  #430016;
    color: #FD0015;
    font-size:1.2rem;
    height: 3rem;
    width:25%;
    border: none;
    border-bottom:2px solid #fd0015;
    outline:none;


}
.filter{
    margin-bottom : 0rem;
}
.no-players{
    font-size: 2rem;
    color: #ededed;
}
.filter-btn{
    display:none;
}
.none{
    display:none;
}

@media only screen and (max-width: 480px) {
    .card-container {
        height: 100%;
        width: 90%;
        margin-left: 1rem;
    }
    .form-label {
        font-size: 1.2rem;
    }
    .form-heading {
        font-size: 3rem;
    }
    .main {
        height: 100vh;
        width: 100%;
        background-image: url("../bgimage/colorful-abstract-nebula-space-background.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        gap: 1rem;
    }
    .login {
        width: 100%;
    }
    .input {
        width: 100%;
    }
    .players {
        display: flex;
        height: 100%;
        width: 100%;

        align-items: center;
        justify-content: center;

        flex-wrap: wrap;
        overflow: auto;
    }
    .players-admin {
        display: inline;
        width: 100%;
        overflow: scroll;
    }
    .player-card {
        height: 20rem;
        width: 20%;
        background-color: yellow;
        border-radius: 1%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .check {
        font-size: 1.5rem;
        color: whitesmoke;
        font-weight: 15;
    }

    .bid {
        background-color: red;
    }
    .admin-main {
        display: flex;
        flex-direction: column;
    }
    
    .currMoney {
        font-size: 1.3rem;
    }
    .filter{
        display:flex;
        flex-direction:column;
        transition: all 0.3s;
    }
    .show-btn{
        width:100%;
    }
    .show-btn-selected{
        width:100%;
    }
    .filter-btn{
        display:inline-block;
        text-align: right;
        padding-right:1rem;
        background-color: #430016;
        color: #FFF;
        font-size:1.2rem;
        outline: none;
        border: none;
    }
    .mp-heading{
        display: none;
    }
    .heading{
        flex-direction: column;
    }
    .currMoney{
        width: 100%;
        margin-bottom:1rem;
    }
    .mp-button{
        margin-bottom:1rem;
    }
}
